@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2>Group Members</h2>
    <hr />
    <p>Mahnoor Raza 36699<br />Muhammad Tayyab 41567<br />Beenish Raza 35986<br />Muhammad Ali 40553<br /></p>
    <hr />

    <h1 class="display-4">Welcome to the <b>@Model.env_index</b> Environment</h1>
    
    <p>Added by Ali. SAP 40553</p>

    <p>Check out my <a href="https://www.linkedin.com/in/mytsum-ali/">Linkedin</a> profile.</p>  

    <p>Added by Beenish on @DateTime.Now. SAP 35986</p>

    <p>Edited by Tayyab on @DateTime.Now. SAP 41567</p>

    <p>Edited by mahnoor on @DateTime.Now. SAP 36699</p>


    <h1>{This is <b style="color:red;">@Model.indexUI</b> Environment}</h1>

</div>
